
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Tektur&display=swap');

/* estilos generales */


:root {
    --colorTitle: #05ffee;
    --colorBack: linear-gradient(#000, #1c0080);
    --colorContents: #b1ff08;
    --colorPharagraps: #FCFCFA;
    --colorIndex: #c0004d;
}

html{
    background: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    scroll-behavior: smooth;
    padding: 10px;
    text-align: left;
    background: var(--colorBack);
    background-attachment: fixed;
    color: var(--colorPharagraps);

}

h1,
h2,
h3,
h4,
h5 {
    text-align: center;

}

.encabezado {
    display: flex;
    flex-direction: column;
}

h1,
h2 {
    font-family: 'tektur';
    color: var(--colorTitle);
    margin: 0;
}


h3 {
    background-color: var(--colorContents);
    color: #000;
    margin: 30px 0 0 0;
    padding: 8px;
}

h4 {
    background-color: #0609c0;
    margin-top: 50px;
}

#menu ul {
    height: 80vh;
    list-style: none;
    padding: 0;
}

#menu a {
    background-color: var(--colorIndex);
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 11px 0;
    margin: 6px auto;
    text-align: center;
    border-radius: 50px;
    width: 320px;
}

#menu a:hover {
    background-color: #e00;
}

article {
    margin-bottom: 70px;
}

#Sistemas ul, #Seleccion ul{
    list-style: none;
    padding: 0;
}

#Sistemas li, #Seleccion li{
    margin-bottom: 10px;
}

#Sistemas li{
    color: var(--colorTitle);
}

#Sistemas span{
    font-weight: normal;
    color: white;
}

#Seleccion b, b{
    color: var(--colorIndex);
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
    width: 1.1em;
    text-align: center;
}

#Seleccion #palanca, strong{
    width: auto;
    padding: 0 10px;
    border-radius: 40px;
}

strong{
    background-color: white;
    color: black;
}




.icon-pacman::after {
    content: "";
    display: block;
    width: 40%;
    margin: 0 auto 100px auto;
    border-bottom: 14px dotted white;
    position: relative;

}


/*  estilos del botón VOLVER */
#btn_volver {
    width: 100px;
    height: 50PX;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    line-height: 50px;
    color: #042444;
    display: block;
    text-align: center;
    box-shadow: 0 8px 8px rgba(0, 0, 0, .6);
    border-radius: 40px;
    position: sticky;
   top: 90vh;
   margin-left: 60vw;
   margin-bottom: -50px;
    z-index: 1;
}


/* estilos de los CONTROLES */

.cpanel {
    width: 80%;
    max-width: 250px;
    background-color: #2e0294;
    margin: 10px auto;
    padding: 30px;
    position: relative;
    border: 2px dotted white;
}

.cpanel__top {
    height: 200px;
}

.cpanel__button {
    --diametro: 25px;
    display: inline-block;
    width: var(--diametro);
    height: var(--diametro);
    line-height: var(--diametro);
    background-color: yellow;
    border-radius: 50%;
    margin: 0 10px 10px;
    padding: 10px;
    text-align: center;
    font-weight: 900;
    color: #e00;
    font-size: 1.5em;
    position: relative;
}

.cpanel__top .--start {
    background-color: #fff;
    margin: 0 0 20px 75px;
}

.stick {
    position: relative;
    width: 35px;
    height: 35px;
    left: -55%;
    top: 110px;
}

.six__pack {
    width: 230px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0 0 10px 30px;
}

.six__pack .cpanel__button:nth-child(2) {
    bottom: 10px;
}

.six__pack .cpanel__button:nth-child(5) {
    bottom: 10px;
}

.six__pack .cpanel__button:nth-child(3n) {
    bottom: 20px;
}

.cpanel__front {
    display: flex;
    justify-content: space-evenly;
}


/*  estilo del FOOTER */

footer {
    text-align: center;
    border-top: 1px solid white;
    margin-top: 100px;
}

footer a {
    text-decoration: none;
    color: lightblue;
}


/* estilos pantallas MEDIANAs (NO celu) */

@media screen and (min-width: 600px) {
    body {
        max-width: 1200px;
        margin: 0 auto;
    }

    .encabezado {
        flex-direction: row;
        height: 50px;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;

    }

    #contents {
        padding: 0px;
        margin: 0;
    }

    h1,
    h2 {
        font-size: 2em;

    }



    #menu ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-evenly;
        height: 100vh;
        margin: 0 0 100px 0;
        background-image: url("");
    }

    #btn_volver {
        margin-left: 80vw;
        top: 80vh;
    }
}





/* pantallas grandes / COMPUTADORA */

@media screen and (min-width:900px) {
    .foto{
        width: 60%;
        height: 400px;
        margin: 40px auto;
        background-image: url("../img/joy05pm.png");
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
        filter: drop-shadow(0px 0px 10px #fff);
        
    }

    #contents {
        padding: 10px;
        margin: 20px 0;
    }

    #btn_volver {
        margin-left: 90%;
        top: 90%;
    }
}
